<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Recommender</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<style>
    .text-white{
    color:white
    }
</style>
<body style="background-color:black">

 <nav class="navbar" style="background-color:#00a65a">
     <a class="navbar-brand" style="color:#000000;">My Book Recommender</a>
     <ul class="nav navbar-nav">
         <li><a href="/" style="color:#FFFFFF;">Home</a></li>
         <li><a href="/recommend" style="color:#FFFFFF;">Recommend</a></li>
         <li><a href="/about" style="color:#FFFFFF;">About</a></li>
         <li><a href="/book-recommender-system" style="color:#FFFFFF;">Code</a></li>
     </ul>
 </nav>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-white" style="font-size:50px">About - Book Recommender System</h1></br>
           <span class="text-white" style="font-size:20px"> For building up this system, I have used a dataset from kaggle.</br></br>
            Based on the dataset, I have done collaborative and content-based filtering.</br></br>
            Collaborative filtering is a technique that can filter out items that a user might like on the basis of reactions by similar users.</br>
            It works by searching a large group of people and finding a smaller set of users with tastes similar to a particular user.</br></br>
            Content-based filtering uses item features to recommend other items similar to what the user likes, based on their previous actions or explicit feedback.</br></br>
            The HOME page of this website shows the results of content-based filtering by recommending top 20 books of the dataset based on the number of votes.</br></br>
            Whereas, the RECOMMEND section of website asks user to enter a book name and recommends books related to that genre.
       </span> </div>
    </div></div>